.card {
  display: flex;
  flex-direction: column;
  width: clamp(220px, 70%, 320px);
  margin: 16px;
  box-shadow: 0px 2px 8px 0px #00000022;
  border-radius: 20px;
  background-color: white;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 20px 30px 0px #00000022;
  }

  > .card-image {
    height: 220px;
    width: 220px;
    margin: auto;
  }

  > .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: auto;
    > .title-price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      gap: 20px;

      > .price {
        background-color: #373737;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-weight: bold;
      }

      > .title {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    > .description {
      word-break: break-word;
    }
  }

  .buy-button {
    all: unset;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    background-color: #0f52ba;
    border-radius: 0px 0px 20px 20px;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}
